<div class="jumbotron home-jumbotron">
  <h1 class="display-4">経費管理アプリ</h1>
  <p class="lead">このアプリケーションは、会社の経費をweb上で管理するアプリケーションです。</p>
  <hr class="my-4">
  <p>まだ社員登録していない方は登録しましょう！</p>
  <a class="btn btn-lg signup-button" href="/signup" role="button">社員登録</a>
  <div class="sample-login">
    <p>すでに社員として登録されている方はこちら</p>
    <a class="btn btn-lg signup-button" href="/login" role="button">ログイン</a>
  </div>
　<div class= "logout-top">
    <p>社員の方のためのLINEによる各種連絡の登録はこちら</p>
    <a href="https://lin.ee/vpMYZbq" id="line"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="58" border="0"></a>
  </div>
</div>