<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
</div>
<div class="col-md-10 col-md-offset-1 user-show-table">
  <table class="table table-condensed table-bordered table-hover" id="table-users">
    
    <% if current_user.admin? %>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    <% end %>
  　<tr>
      <th>所属</th>
      <td><%= @user.department %></td>
    </tr>
  </table>
</div>
<div class="profile_infomation">
　<div class="col-md-11 col-sm-12 profile-information">
    <%= render("shared/carousel", user: @user) %>
  <div>
</div>
